.taskbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: #c3c6cd;
    border-top: 3px solid #f2f3f5;

    .start {
        padding: 2px;
        display: flex;
        align-items: center;
        height: 32px;
        font-weight: bold;
        @include border;

        &:active {
            @include border-active;
        }
    }

    #menuStart{
        top: -240px;
        left: 2px;
        height: 240px;
        width: 200px;
        background-color: #c0c0c0;
        position: absolute;
        @include border;

        .bar {
            width: 28px;
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            background-color: #808080;
            font-weight:900;
            text-transform: capitalize;

            .win {
                color: #c0c0c0;
                transform: rotateZ(-90deg);
                transform-origin: center left;
                display: inline-block;
                width: 200px;
                white-space: nowrap;
                font-size: 20px;
                margin-top: 215px;
                margin-left: 10px;
            }

            .num {
                font-weight: 400;
                color: white;
            }
        }

        .menuItem {
            color:black;
            height: 32px;
            margin-left: 24px;
            display: flex;
            align-items: center;
        }

        .menuItem:hover {
            background-color:#000080;
            color:white;
        }

        .menuItem:first-letter
        {
            text-decoration:underline;
        }
        
        #shutdown:first-letter
        {
            text-decoration:none;
        }

        .divider{
            height:1px;
            border-top: ridge 1px white;
            border-bottom: ridge 1px grey;
            margin: 2px ;
        }

        .icons {
            width: 30px;
            padding-left: 5px;
        }

        .expander1:after{
            content:'▶';
            margin-left:52px;
        }

        .expander2:after{
            content:'▶';
            margin-left:40px;
        }

        .expander3:after{
            content:'▶';
            margin-left:62px;
        }
    }

    .menu {
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 1;
    }

    .clock {
        margin:3px;
        width: 70px;
        height: 25px;
        @include border-active;
        font-size: 14px;
        display: flex;
        align-items: center;
    }

  // Show the menu JS
    .show {
      display:block;
    }
}

